*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.location,
.temperature,
.temperature-description{

    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.night{
        background-image: url("img/night.jpg");
        background-size: cover;
        color:palevioletred;
}

.day{
    color:palevioletred;
    background-image: url("img/day.jpg");
    background-size: cover;
}

